// MEDIA QUERY MIXIN
@mixin mq($point) {
	@if $point == desktop {
		@media (min-width: 1280px) { @content; }
	}
	@if $point == laptop {
		@media (min-width: 960px) { @content; }
	}
	@else if $point == tablet {
		@media (min-width: 768px) { @content; }
	}
	@else if $point == android {
		@media (min-width: 480px)  { @content; }
	}
	@else if $point == iphone {
		@media (min-width: 320px)  { @content; }
	}
}

// COlORS
$white: #fff;
$black: #000;
$blue: #328fc2;
$darkBlue: #006899;
$purple: #650360;
$grey: #e7e8e9;
$green: #bbd8c4;
$beige: #f5f5f5;
$darkGrey: #cccccc;